img.author
	width: 200px;
	margin: 0 auto;
	border-radius: 50%;
		@media (max-width: 1023px)
			width: 200px;
			margin: 0 auto;
			border-radius: 50%;
		@media (max-width: 768px)
			width: 150px;
			margin: 0 auto;
			border-radius: 50%;
		@media (max-width: 568px)
			width: 100px;
			margin: 0 auto;
			border-radius: 50%;