
div(id="wrapper")
	
	div(id="bg")
	div(id="overlay")
	div(id="main")
		header(id="header")
			img(src="/images/andrew-bevan.png", class='author')
				
			h1 Andrew Bevan
			p Software Developer &nbsp;&bull;&nbsp; Husband &nbsp;&bull;&nbsp; Father
			nav
				ul
					li 
						a(href="#") Blog
					li 
						a(href="#") About Me
			nav
				ul
					li
						a(href="https://twitter.com/bluntspoon" class="icon fa-twitter")
							span(class="label") Twitter
					li
						a(href="https://za.linkedin.com/pub/andrew-bevan/3b/8a0/aa3/en" class="icon fa-linkedin")
							span(class="label") LinkedIn
					li
						a(href="https://www.facebook.com/BluntSpoon" class="icon fa-facebook")
							span(class="label") Facebook
					li
						a(href="https://github.com/bluntspoon" class="icon fa-github")
							span(class="label") Github
					li
						a(href="mailto://bluntspoon@gmail.com" class="icon fa-envelope-o")
							span(class="label") Email
						
		footer(id="footer")
			span(class="copyright") &copy; Andrew Bevan

